*{
    margin:0;
    padding:0;
}
.wholebox{
    margin: 0 auto;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    height:250px;
    width:600px;
    border: 3px solid grey;
    margin-top:30px;
}
.bluebox{
    background-color: #17a2b8;
    height: 75px;
}
.profilename, .city, .para, .editp{
    margin-left: 30px;
}
.para{
    width:250px;
}
img{
    height:10px;
}
.propic{
    height: 50px;
    width: 50px;
    position: fixed;
    top:80px;
    margin-left:30px;
    border: 3px solid grey;
    border-radius: 50%;
}
.city, .editp{
    display: flex;
    align-items: center;
    margin-bottom: 10px;;
}
h3{
    margin-left:10px;
}
.editpara{
    margin-left:10px;
}
.profilename{
    margin-top:20px;
}