
.col{
    flex:1;
}

.row{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.col-2{
    flex:2;
}

.col-3{
    flex:3;
}

.col, .col-2, .col-3{
    color:white;
    padding: 10px;
    margin: 10px;
    background-color:teal;
}